// ES6: property value shorthand
// lets us abbreviate the initialization of a property
function getCar(make, model, value) {
  return {
    // with property value shorthand syntax,
    // you can omit the property value
    // if key matches variable name
    make,
    model,
    value,
  }
}

// ES5
function getCar(make, model, value) {
  return {
    make: make,
    model: model,
    value: value,
  }
}

// ES6: computed property keys
function getCar(make, model, value) {
  return {
    // computed values now work with
    // object literals
    ['make' + make]: true,
  }
}

// ES5 needs 3 lines for that
function getCar(make, model, value) {
  var car = {}

  // in ES3/ES5 the only way to use a
  // computed property key was in a
  // separate assignment statement
  car['make' + make] = true

  return car
}

// ES6: method definition shorthad
function getCar(make, model, value) {
  return {
    // Method definition shorthand syntax
    // omits `function` keyword & colon
    depreciate() {
      this.value -= 2500
    },
  }
}

// ES5
function getCar(make, model, value) {
  return {
    depreciate: function() {
      this.value -= 2500
    },
  }
}
